* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: aliceblue;
    --accent-color1: black;
    --accent-color2: navy;
    --secondnary-color: lightblue;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px;
    justify-content:space-evenly ;
    background-color:var(--secondnary-color);
    color: var(--accent-color2);
    border: 1px solid var(--accent-color1);
}

header img {
    display: block;    
}

body {
    font-family: var(--body-font);
    color: var(--accent-color1);
}
footer nav a{
    text-decoration: none;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent-color2);
    background-color: var(--primary-color);
    text-align: center;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent-color2);
    background-color: var(--primary-color);
    text-align: center;
    padding: 8px;
}


header, footer,main {
    max-width: 840px;
    margin: 0 auto;

}

footer {
    border-bottom: var(--accent-color1);
    border-top: var(--accent-color1);
    display: flex;
    background-color: var(--secondnary-color);
    justify-content: space-between;
    border: 1px solid var(--accent-color1);
    padding: 1rem;
    height: 100px;
    }
    


/* Class Selectors */


.socialmedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly
    
}
.socialmedia a{
    text-decoration: none;
    

}
    
.navigation {
    display: flex;
    list-style: none;
    align-items: center;
    flex: 1 1 auto;
    text-decoration: none;
    justify-content: space-evenly;
    padding: 1rem;
}
.navigation li a{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    background-color: var(--primary-color);
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.hero article {
    background-color: var(--primary-color);
    top: 200px;
    position: absolute;
    left: 20px;
    opacity: 0.9;
}

.hero h1 {
    background-color: var(--primary-color);
    top: 16px;
    padding: 8px;
    width: 100%;
    position: absolute;
    text-align: center;
    opacity: 0.9;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-self: center;
    background-color: aliceblue;
    text-align: left;
    
    

}

.history img{
    display: flex;
    align-items: center;
    width: 200px;
    height: auto;
    padding: 16px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--primary-color);

}

.adventure figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    }

.adventure img {
    width: 100px;
    height: 100px;    
    
}
.adventure figcaption {
    font-size: 14px; 

}
/* Contact Us  */

form {
    color: #111;
    max-width: 600px;
    height: 400px;
    padding: .75rem;
    border-radius: 0.5rem;

}

input,
select{
    padding: .5rem;
    width: 100%;
    margin: 0 auto;
    max-width: 250px;

}
textarea{
    width: 350px;
    height: 50px;
    padding: .5rem;
}
.form-item{
    margin: .75rem;
    display: flex;
    align-items: center;
}

.box {
    margin: 1rem;
    border: 1px solid var(--accent-color1);
    padding: .75rem;}
    
.button {
    background-color: var(--secondnary-color);
    color: var(--accent-color1);
    margin: 0 auto;
    display: block;
    align-items: center;
    border-radius: .5rem;
    width: 300px;
    height: 50px;
}
button:hover {
    background-color: var(--accent-color2);
    color: var(--primary-color);
}
.employee {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--primary-color);
        padding: 16px;
}
.employee figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.employee img {
    width: 100px;
    height: 130px

}

.employee figcaption {
    font-size: 14px;
}


.contact p, .contact h1 {
   text-align: center;
   margin: 0; 
  
}

.message{
    width: 100%;
    height: auto;
    margin: 16px;
}
.message h2{width: 370px;

}
h3{
    color: var(--accent-color1);
    text-align: center;
    font-weight: bolder;

}
.map-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 20px;
}

.map {
    margin: 16px;

}

fieldset{
    border: none;
}

input[type="radio"] {
    width: 16px;
    height: auto;
}
.radio {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items:start;
    gap: .5rem;
    margin:0 auto;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0 2px;   
}

/* Home page CSS */
.home-hero {
    position: relative;
}

.home-hero img {
    background-color: var(--primary-color);
    display: block;
    width: 100%;
    height: auto;
}

.home-hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.home-hero article {
    background-color: var(--primary-color);
    top: 100px;
    position: absolute;
    width: 600px;
    left: 120px;
    opacity: 0.9;
}

.home-hero h1{
    background-color: var(--primary-color);
    top: 16px;
    padding: 8px;
    width: 100%;
    position: absolute;
    text-align: center;
    opacity: 0.9;
}
.home-hero p{
    top: 16px;
    width: 100%;
    text-align: center;
}
.home-hero a{
    text-decoration: none;
    color: var(--primary-color);
    
}

.cta-button {
    background-color: var(--accent-color2);
    color: var(--primary-color);
    margin:0 auto; 
    padding: 8px;
    display: block;
    align-items: center;
    border-radius: .5rem;
    width: 100px;
    height: 35px;
}
.cta-button:hover{
    background-color: var(--accent-color1);
    color: var(--primary-color);
}
.home-container{
    display: grid;
    grid-template-columns:420px auto;
    gap: 10px;
    
}
.home-container h2{
    max-width:420px ;
    background-color: var(--primary-color);
}
.newsletter{
    width: 100%;
    height:450px ;
    display: grid;
    grid-column: 1;
    margin: 0;
    background-color: var(--primary-color);
}
.newsletter-item input{  
    margin: 0 .1rem;
    padding: .75rem;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.newsletter-item{
    padding: 2px;
    align-items: center;
    width:100%;
    display: flex;
    
}
.success-stories {
    width: 100%;
    height: 450px;
    background-color:var(--primary-color);
    align-items: center;
    
}

.interests {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .5rem;
    margin-left: 8px;
    }

.grid {
    display: grid;
    align-items: center;
    max-width: 840px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
}
.grid img{
    width: 200px;
    height:300px;
    margin-top: auto;
    padding: 2px;
    align-items: center;
    justify-content: space-around;
}
.grid figcaption{
    text-align: center;
    font-weight: bolder;
}
/* Trips  */
.trip-grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto auto;
    gap: 8px;
    align-items: center;
    margin: 1rem auto;

}
.combo, .combo p{
    grid-row: 2;
    grid-column: 1 / span 2;
    align-items: center;
    padding: 2px;
    margin:0 auto;
}
.combo img{
    height: 300px;
    align-items: center;
    width: 250px;
}
.dine img{
    width: 100%;
    height: 300;
    align-items: center;
    margin: 0;
}
.rapids img {
    width: 100%;
    height: 300;
    align-items: center;
    margin: 0;
}

table{
    border: 2px solid var(--accent-color1);
    letter-spacing: 1px;
    padding: 16px;

}
th,
td {
    border: 1px solid var(--accent-color1);
    text-align: center;
}
thead tr,
tfoot tr {
    background-color: var(--accent-color1);
    color: white;
    font-weight: 700;
}
.contact-link a{
text-decoration: none;
color: var(--primary-color);
}
.trip-hero article {
    background-color: var(--primary-color);
    top: 100px;
    position: absolute;
    width: 600px;
    left: 120px;
    opacity: 0.9;
}
.booking{
    color: var(--primary-color);
}
.booking:hover{
    color:var(--secondnary-color);
}
